.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/******************************************/

.MainScreen {
  text-align: center;
}

.MainScreen-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.MainScreen-Top {
  background-color: rgb(133, 128, 128);
  padding: 20px;
  height: 350px;
  color: white;
  position:relative;
}

.MainScreen-Table {
  padding-top:30px;
  padding-left:10%;
}


.Header{
  height: 100%;
  width: 100%;
}


.Login-Container{
  border: 1px solid #48BAE4;
  position:absolute;
  top: 90px;
  right : 50px;
  background-color:rgb(133, 128, 128);
}
.Login{
  padding: 20px;
}



.HistoryForm{
  border: 3px solid #dee2e6;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 10px;
}
.form-label{
  margin-right: 5%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
